@model RegistrationViewModel
@{
    ViewData["Title"] = "Confirmation";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<h2>Confirmation</h2>

<p>Congratulations <strong>@Model.FirstName</strong>, Your registration is complete! Press continue.</p>
<form method="get" asp-controller="MyHangman" asp-action="Game">
    <input type="submit" value="Continue" />
</form>
