
@{
    ViewData["Title"] = "My Hangman Game";
}

<h2 id="hangman-title">Login/Register@*My Hangman Game*@</h2>
<div class="hangman">
    <ul>
        <li><a asp-controller="MyHangman" asp-action="Login">Login</a></li>
        <li><a asp-controller="MyHangman" asp-action="Register">Register</a></li>
        <li><a asp-controller="MyHangman" asp-action="Game">Continue as Guest</a></li>
    </ul>

</div>
