
@{
    ViewData["Title"] = "My Hangman Game";
}

<h2 id="hangman-title">My Hangman Game</h2>
<div class="hangman">
    <ul>
        <li><a asp-controller="MyHangman" asp-action="Login">(1) Login</a></li>
        <li><a asp-controller="MyHangman" asp-action="Register">(2) Register</a></li>
        <li><a href="#">(3) Continue as Guest</a></li>
    </ul>

</div>
