@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<h2>Login to Play</h2>
<p id="incorrect-credentials">@TempData["login_message"]</p>

<form method="post" asp-controller="myhangman" asp-action="login">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="text" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>