@{
    Layout = "";
}

<title>@ViewData["Title"] - tia.j.smith</title>
<link rel="stylesheet" href="~/css/landing.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div id="landing-header">
    <h1>Welcome to tia.j.smith</h1>
    <!-- Enter button -->
    <a href="landing.html" class="btn btn-lg btn-success">Enter</a>
</div>

<!-- List for images to cycle through -->
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />