@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="about">
    <p>My name is Tia Smith. I am an aspiring .NET developer.
    I am currently attending Tech Elevator a 14-week bootcamp focusing on .NET development.
    This site was developed with ASP.NET MVC and Bootstrap.
    For coding samples see github in the Connect section.

    <div id="current-technologies">
        <h3>Current Technologies:</h3>
        <ul>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>HTML5</li>
            <li>CSS Grid</li>
            <li>Flexbox</li>
            <li>HTML5</li>
        </ul>
    </div>
    </p>

</div>



