
@{
    ViewData["Title"] = "Gallery";
}

<h2 id="gallery-header">Gallery</h2>
<h3 style="color: #ae6f44;">Some Photos I've Taken <span id="or">or</span> Were Taken of Me</h3>

<div class="gallery">
    <a href="~/images/gallery/ZionBryce1.JPG" target="_blank"><img src="~/images/gallery/ZionBryce1.JPG" /></a>
    <img src="~/images/gallery/ZionBryce2.JPG" />
    <a href="~/images/gallery/BungeeCrossing.JPG" target="_blank"><img src="~/images/gallery/BungeeCrossing.JPG" /></a>
    <img src="~/images/gallery/ZionBryce4.JPG" />
    <img src="~/images/gallery/ZionBryce5.JPG" />
    <img src="~/images/gallery/ZionBryce7.JPG" />
    <img src="~/images/gallery/ZionBryce8.JPG" />
    <img src="~/images/gallery/ZionBryce9.JPG" />
    <img src="~/images/gallery/ZionBryce11.JPG" />
    <img src="~/images/gallery/Utah1.JPG" />
    @*<img src="~/images/gallery/BungeeCrossing.JPG" />*@
    <img src="~/images/gallery/EnteringPunchBowls.JPG" />
    <img src="~/images/gallery/Bridge.JPG" />
    <img src="~/images/gallery/Scary.JPG" />
    <img src="~/images/gallery/Ice.JPG" />
    <img src="~/images/gallery/Waterfall3.JPG" />
    <img src="~/images/gallery/IceCool.JPG" />
    <img src="~/images/gallery/Crocs.JPG" />
    <img src="~/images/gallery/Waterfall2.JPG" />
    <img src="~/images/gallery/Ice2.JPG" />
    @*<img src="~/images/gallery/WaterfallMe.JPG" />*@
    <img src="~/images/gallery/Monk.JPG" />
    <img src="~/images/gallery/Waterfall4.JPG" />
    @*<img src="~/images/gallery/WaterfallMe2.JPG" />*@
    <img src="~/images/gallery/Huts.JPG" />
    <img src="~/images/gallery/Hut.JPG" />
    <img src="~/images/gallery/Canyon.JPG" />
    <img src="~/images/gallery/Canyoneering1.JPG" />
    <img src="~/images/gallery/Canyon2.JPG" />
    <img src="~/images/gallery/LetRopeOut.JPG" />
    <img src="~/images/gallery/Ice4.JPG" />
    <img src="~/images/gallery/CamBoat.JPG" />
    <img src="~/images/gallery/FranceBridge.JPG" />
    <img src="~/images/gallery/Cam1.JPG" />
    <img src="~/images/gallery/Statue.JPG" />
    <img src="~/images/gallery/PunchBowl.JPG" />
    <img src="~/images/gallery/FranceStreet.JPG" />
    <img src="~/images/gallery/ZionBryce10.JPG" />
    <img src="~/images/gallery/Hike.JPG" />
    <img src="~/images/gallery/Hike2.JPG" />
    <img src="~/images/gallery/Waterfall.JPG" />
    <img src="~/images/gallery/Hike3.JPG" />
    <img src="~/images/gallery/Hike4.JPG" />
    <img src="~/images/gallery/Hike5.JPG" />
</div>

