@{
    Layout = "";
}

<title>@ViewData["Title"] - tia.j.smith</title>
<link rel="stylesheet" href="~/css/landing.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div id="landing-header">
    <h1>Welcome to <span>tia.j.smith</span></h1>
    <!-- Enter button --> <!--class="btn btn-lg btn-success"-->
    <a href="home/aboutme" id="enter-button">Enter</a>
</div>

<!-- List for images to cycle through -->
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

