@{
    ViewData["Title"] = "Home Page";
}

<header><h2>Portfolio</h2></header>

<!-- Create flexbox for portfolio sites -->

<div class="landing-body">
    <!-- National Parks Weather Service -->
    <div class="portfolio-site">
        <a href="https://github.com/tiasmith8/npgeek" target="_blank">
            <img src="~/images/portfolio/npgeek.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            National Park Geek
            <div>ASP.NET MVC application with SQL Server</div>
        </div>
    </div>

    <!-- MyHangman -->
    <div class="portfolio-site">
        <a href="https://github.com/tiasmith8/MyHangman" target="_blank">
            <img src="~/images/portfolio/MyHangman.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            MyHangman
            <div>C# console word guessing game</div>
        </div>
    </div>

    <!-- MyGroceryCart -->
    <div class="portfolio-site">
        <a href="https://github.com/tiasmith8/MyGroceryCart" target="_blank">
            <img src="~/images/portfolio/MyGroceryCart.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            MyGroceryCart
            <div>C# console application that calculates grocery totals</div>
        </div>
    </div>

    <!-- Vendo-Matic500 -->
    <div class="portfolio-site">
        <a href="https://github.com/tiasmith8/vendomatic500" target="_blank">
            <img src="~/images/portfolio/vendomatic500.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Vendo-Matic 500!
            <div>C# console application simulating a vending machine</div>
        </div>
    </div>

    <!-- National Parks Reservation System -->
    <div class="portfolio-site">
        <a href="https://github.com/tiasmith8/npcampground" target="_blank">
            <img src="~/images/portfolio/npcamp.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            National Park Campgrounds
            <div>C# console app for reserving national park campsites</div>
        </div>
    </div>

    <!-- YELP CAMP -->
    <div class="portfolio-site">
        <a href="https://limitless-depths-30933.herokuapp.com" target="_blank">
            <img src="~/images/portfolio/YelpCamp.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Yelp Camp
            <div>Developed with Bootstrap & NodeJS</div>
        </div>
    </div>

    <!-- AllThingsLA -->
    @*<div class="portfolio-site">
            <a href="https://allthingsla.herokuapp.com/" target="_blank">
                <img src="~/images/portfolio/AllThingsLA.png" class="screenshot" />
            </a>
            <div class="portfolio-text">
                All Things LA
                <div>Developed with HTML & CSS</div>
            </div>
        </div>*@

    <!-- BETTY WHITE -->
    <div class="portfolio-site">
        <a href="https://codepen.io/tiasmith8/full/bOqMoy" target="_blank">
            <img src="~/images/portfolio/BettyWhite.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Betty White Fan Site
            <div>Developed with HTML & CSS</div>
        </div>
    </div>

    <!-- ART -->
    <div class="portfolio-site">
        <a href="https://lisa-adams.herokuapp.com/" target="_blank">
            <img src="~/images/portfolio/ArtProduction.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Art Portfolio
            <div>Developed with HTML & CSS</div>
        </div>
    </div>
</div>





