@{
    ViewData["Title"] = "Home Page";
}

<header><h2>Portfolio</h2></header>

<!-- Create flexbox for portfolio sites -->

<div class="landing-body">
    <!-- YELP CAMP -->
    <div class="portfolio-site">
        <a href="https://limitless-depths-30933.herokuapp.com" target="_blank">
            <img src="~/images/portfolio/YelpCamp.png" class="screenshot" /></a>
        <div class="portfolio-text">
            Yelp Camp
            <div>Developed with Bootstrap & NodeJS</div>
        </div>
    </div>

    <!-- AllThingsLA -->
    <div class="portfolio-site">
        <a href="https://allthingsla.herokuapp.com/" target="_blank">
            <img src="~/images/portfolio/AllThingsLA.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            All Things LA
            <div>Developed with HTML & CSS</div>
        </div>
    </div>

    <!-- BETTY WHITE -->
    <div class="portfolio-site">
        <a href="https://codepen.io/tiasmith8/full/bOqMoy" target="_blank">
            <img src="~/images/portfolio/BettyWhite.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Betty White Fan Site
            <div>Developed with HTML & CSS</div>
        </div>
    </div>

    <!-- ART -->
    <div class="portfolio-site">
        <a href="https://lisa-adams.herokuapp.com/" target="_blank">
            <img src="~/images/portfolio/ArtProduction.png" class="screenshot" />
        </a>
        <div class="portfolio-text">
            Art Portfolio
            <div>Developed with HTML & CSS</div>
        </div>
    </div>
</div>





